DEBUG=True
ALLOWED_HOSTS=*

DJANGO_SECRET_KEY=change-me

DJANGO_LOGLEVEL=info
DATABASE_ENGINE=postgresql_psycopg2
DATABASE_NAME=dbname
DATABASE_USERNAME=dbuser
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=db
DATABASE_PORT=5432