asgiref==3.10.0
certifi==2025.11.12
charset-normalizer==3.4.4
confusable-homoglyphs==3.3.1
Django==5.2.7
djangorestframework==3.16.1
drf-registration==0.1.3
django-cors-headers==4.6.0
idna==3.11
psycopg2==2.9.11
requests==2.32.5
six==1.17.0
sqlparse==0.5.3
urllib3==2.5.0
